.footer {
  background-color: #1d1d36;
  padding: 60px 0;
  .content {
    display: flex;
    justify-content: space-between;
    .logo_footer {
      color: white;
      font-family: sans-serif;
      font-weight: 900;
      font-size: 2rem;
    }
    .navigation_footer,
    .socials,
    .address {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h3 {
        color: #a3a4e7;
        font-family: sans-serif;
        font-size: 21px;
      }
      nav {
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 17px;
        font-family: sans-serif;
        font-weight: 100;
        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}
.center {
  padding: 10px 0;
  background: #ffffff;
  h3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}
